@import "../../styles/@mixins"

.section
    width: 100%
    min-height: 265px
    background-color: #512689
    display: flex

.wrapper
    max-width: 1440px
    width: 100%
    margin: 0 auto
    display: flex
    position: relative
    align-items: center

.btn
    color: #F8F8F8
    border: 1px solid #F8F8F8
    border-radius: 8px
    width: 81px
    height: 38px
    position: absolute
    right: 80px
    top: 32px
    @include btn-title
    transition: 0.3s

.btn:hover
    scale: 1.03
    